.button-modal{
    color: var(--black-soft);
    border: none;
    outline: none;
    padding: 5px ;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    display: flex;
    gap: 0.5em;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.button-modal:hover{
 background-color: var(--white);
}
.button-modal > p:nth-child(1){
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.button-modal > p:nth-child(1):hover{
    padding: 12px;
    width: 55px;
    height: 55px;;
}