.node-editor-panel {
 margin-top: 40px;
  width: 100%;
  padding: 10px;
  background-color: var(--white2);
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  border-radius:4px ;
}

.node-editor-panel h3 {
  font-size: 1.5em;
  color: var(--purple);
  margin-bottom: 10px;
}

.node-editor-panel p {
  font-size: 1.2em;
  color: var(--black-soft);
  margin: 5px 0;
}

.node-details {
  margin-bottom: 20px;
}

.node-parameters ul {
  list-style: none;
  padding: 0;
}

.node-parameters li {
  margin: 5px 0;
  font-size: 1em;
  color: #444;
}

.node-io p {
  font-size: 1.2em;
  color: var(--black-soft);
}