.card-flow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
     gap: 10px; 
    background-color: var(--white2); 
    /* border: 1px solid #ccc; */
    color: var(--purple);
    font-weight: bold;
    font-size: 20px;
     cursor: pointer; 
    z-index: 4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid var(--white2); */

}
 .card-flow:hover{
    transition: all 0.1s ease-in-outs;
    transform: scale(1.01);
} 
.card-flow-button button{
    cursor: pointer;
    font-size: 22px;

}
